<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>File Upload</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Форма за качване на файл</h2>-->
<!--<form action="http://localhost:8080/api/upload/file" method="post" enctype="multipart/form-data">-->
<!--    <label for="file">Избери файл:</label>-->
<!--    <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png, .pdf">-->
<!--    <br>-->
<!--    <button type="submit">Качи файл</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->



<!-- Working -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Качване на файл</title>
</head>
<body>
<h2>Форма за качване на файл</h2>
<!--<form action="/api/upload/file" method="post" enctype="multipart/form-data">-->
<form action="/api/fileMessage/create" method="post" enctype="multipart/form-data">
    <br>
    <label for="file">Избери файл:</label>
    <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png, .pdf" required>
    <br>
    <button type="submit">Качи файл</button>
</form>
</body>
</html>